<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="explore.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script
        src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
</head>

<body>
    <!-- hero -->
    <section>
        <div class="hero-container">
            <!-- left picture -->
            <div class="left-image">
                <img src="/images/left-stamp.png" alt="elephant stamp" srcset="">
            </div>
            <!-- right writing part -->
            <div class="more-info">
                <h2>Discover</h2>
                <h3>Rare Stamps</h3>
                <button>More Info</button>
                <div id="dots">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
    </section>
    <!-- buttons -->
    <section id="btn">
        <button>Featured</button>
        <button>Events</button>
    </section>
    <!-- swiper section -->
    <section>
        <!-- Swiper Container -->
        <div class="relative">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">

                    <!-- Department Card 1 -->
                    <div class="swiper-slide">
                        <div class="flex-shrink-0 w-72 border rounded-lg shadow-lg overflow-hidden">
                            <div class="p-4">
                                <img src="/images/slide-1.png" />
                                <h2 class="text-lg uppercase font-semibold text-center mt-2">
                                    stamp
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="flex-shrink-0 w-72 border rounded-lg shadow-lg overflow-hidden">
                            <div class="p-4">
                                <img src="/images/slide-1.png" />
                                <h2 class="text-lg uppercase font-semibold text-center mt-2">
                                    stamp
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="flex-shrink-0 w-72 border rounded-lg shadow-lg overflow-hidden">
                            <div class="p-4">
                                <img src="/images/slide-1.png" />
                                <h2 class="text-lg uppercase font-semibold text-center mt-2">
                                    stamp
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="flex-shrink-0 w-72 border rounded-lg shadow-lg overflow-hidden">
                            <div class="p-4">
                                <img src="/images/slide-1.png" />
                                <h2 class="text-lg uppercase font-semibold text-center mt-2">
                                    stamp
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <!-- Swiper Controls -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        </div>
        </div>
    </section>



    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 20,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                640: {
                    slidesPerView: 1,
                    spaceBetween: 10,
                },
                768: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },
                1024: {
                    slidesPerView: 3,
                    spaceBetween: 30,
                },
            },
        });
    </script>

</body>

</html>