<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>featured</title>
    <link rel="stylesheet" href="featured.css">
</head>

<body>
    <header>
        <div class="overlay">
        </div>
        <h1>Featured</h1>
        <h3>Explore the rich history and artistry of Indian philately.</h3>
    </header>
    <main>
        <section>
            <h3>Rare Finds</h3>
            <div class="container1 container">
                <div class="card1">
                    <div class="image_ar">
                        <img src="/images/Image 25.png" alt="">
                    </div>
                    <div class="content">
                        <p class="first-line">Scinde Dawk</p>
                        <p class="second-line">Category: Pre-Independence</p>
                    </div>
                    <div class="view-details">
                        <div class="btn">view details</div>
                    </div>
                </div>
                <div class="card1">
                    <div class="image_ar">
                        <img src="/images/Image 26.png" alt="">
                    </div>
                    <div class="content">
                        <p class="first-line">Gandhi Stamp</p>
                        <p class="second-line">Category: Commemorative</p>
                    </div>
                    <div class="view-details">
                        <div class="btn">view details</div>
                    </div>
                </div>
                <div class="card1">
                    <div class="image_ar">
                        <img src="/images/Image 27.png" alt="">
                    </div>
                    <div class="content">
                        <p class="first-line">Half Anna</p>
                        <p class="second-line">Category: Pre-Independence</p>
                    </div>
                    <div class="view-details">
                        <div class="btn">view details</div>
                    </div>
                </div>
                <div class="card1">
                    <div class="image_ar">
                        <img src="/images/Image 28.png" alt="">
                    </div>
                    <div class="content">
                        <p class="first-line">Independence</p>
                        <p class="second-line">Category: Commemorative</p>
                    </div>
                    <div class="view-details">
                        <div class="btn">view details</div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h2>Limited Edition</h2>
            <div class="container2 container">
                <div class="card1">
                    <div class="image_ar">
                        <img src="/images/Image 29.png" alt="">
                    </div>
                    <div class="content">
                        <p class="first-line">Penny Black</p>
                        <p class="second-line">Category: Classic Stamps<br>Price: &#x24;1,500</p>
                    </div>
                    <div class="view-details">
                        <div class="btn">view details</div>
                    </div>
                </div>
                <div class="card1">
                    <div class="image_ar">
                        <img src="/images/Image 30.png" alt="">
                    </div>
                    <div class="content">
                        <p class="first-line">Inverted Jenny</p>
                        <p class="second-line">Category: Airmail Stamps<br>Price: &#x24;750.000</p>
                    </div>
                    <div class="view-details">
                        <div class="btn">view details</div>
                    </div>
                </div>
                <div class="card1">
                    <div class="image_ar">
                        <img src="/images/Image 31.png" alt="">
                    </div>
                    <div class="content">
                        <p class="first-line">Blue Mauritius</p>
                        <p class="second-line">Category: Colonial Stamps<br>Price: &#x24;1,200.000</p>
                    </div>
                    <div class="view-details">
                        <div class="btn">view details</div>
                    </div>
                </div>
                <div class="card1">
                    <div class="image_ar">
                        <img src="/images/Image 32.png" alt="">
                    </div>
                    <div class="content">
                        <p class="first-line">Treskilling Yellow</p>
                        <p class="second-line">Category: Error Stamps<br>Price: &#x24;2,300.000</p>
                    </div>
                    <div class="view-details">
                        <div class="btn">view details</div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h2>Recent Releases</h2>
            <div class="grid-container">
                <div class="box">
                    <div class="writing">
                        <h3 class="first">Magnifying Glass</h3>
                        <p class="sec">Category: Tools</p>
                        <p class="third">Price:  &#8377; 450</p>
                    </div>
                    <div class="pic">
                        <img src="/images/Image 135.png" alt="">
                    </div>
                </div>
                <div class="box">
                    <div class="writing">
                        <h3 class="first">Leather Album</h3>
                        <p class="sec">Category: Albums</p>
                        <p class="third">Price:  &#8377; 1200</p>
                    </div>
                    <div class="pic">
                        <img src="/images/Image 136.png" alt="">
                    </div>
                </div>
                <div class="box">
                    <div class="writing">
                        <h3 class="first">Half Anna 1854</h3>
                        <p class="sec">Category:  Rare Finds</p>
                        <p class="third">Price:   &#x24; 750</p>
                    </div>
                    <div class="pic">
                        <img src="/images/Image 137.png" alt="">
                    </div>
                </div>
                <div class="box">
                    <div class="writing">
                        <h3 class="first">Independence 1947</h3>
                        <p class="sec">Category: Limited Editions</p>
                        <p class="third">Price: &#x24; 1200</p>
                    </div>
                    <div class="pic">
                        <img src="/images/Image 138.png" alt="">
                    </div>
                </div>
                <div class="box">
                    <div class="writing">
                        <h3 class="first">Festival 1975</h3>
                        <p class="sec">Category: Recent Releases</p>
                        <p class="third">Price:  &#x24; 50</p>
                    </div>
                    <div class="pic">
                        <img src="/images/Image 139.png" alt="">
                    </div>
                </div>
                <div class="box">
                    <div class="writing">
                        <h3 class="first">Wildlife 1980</h3>
                        <p class="sec">Category: Ancillary Releases</p>
                        <p class="third">Price:  &#x24; 95</p>
                    </div>
                    <div class="pic">
                        <img src="/images/Image 140.png" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>