<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register page</title>
    <link rel="stylesheet" href="register.css">
</head>

<body>
    <nav>

    </nav>
    <header>
        <div class="container">
            <div class="welcome">
                Join PhilatelyIndia
            </div>
            <div class="log-in-content">
                Create an account to explore, connect, and trade in the world of stamps
            </div>
            <div class="input">
                <input type="text" name="name" id="" placeholder="Name">
                <input type="email" name="email" id="" placeholder="Enter Your Email Address">
                <input type="password" name="password" id="" placeholder="Password">
            </div>
            <div class="forget"><a href="#">Forgot Password?</a></div>
            <div class="btn">
                <button>Sign Up</button>
            </div>
            <div class="continueWith">
                <img src="/images/continue with.png" alt="">
            </div>
            <div class="options">
                <a href="#"><img src="/images/google.svg" alt=""></a>
                <a href="#"><img src="/images/facebook.svg" alt=""></a>
                <a href="#"><img src="/images/apple.svg" alt=""></a>
            </div>
        </div>
    </header>
    <footer>
        <img src="/images/login page.png" alt="">
    </footer>
</body>

</html>