<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trending page</title>
    <link rel="stylesheet" href="trending.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="trending">
            <div class="list_head">
                <ul>
                    <li class="buttons">
                        <span class="fa fa-star checked"></span>&nbsp;&nbsp;star
                    </li>
                    <li class="buttons">
                        <i class="fa fa-heart-o"></i>&nbsp;&nbsp;wishlist
                    </li>
                    <li class="buttons">
                        <i class="fa fa-eye" aria-hidden="false"></i>&nbsp;&nbsp;View Details
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <section>
        <div class="container-options">
            <div class="options opt1"><i class="fa fa-bar-chart checked1"></i>&nbsp;&nbsp;most-trending</div>
            <div class="options opt2">
                <img src="/images/Comment add.svg" alt="">
                <span>most recents</span>
            </div>
            <div class="options opt3"><span class="fa fa-star checked1"></span>&nbsp;&nbsp;highest rated</div>
            <div class="options opt4"><i class="fa fa-list-alt checked1"></i>&nbsp;&nbsp;most collected</div>
        </div>
    </section>
    <main>
        <h2>Trending Stamp</h2>
        <div class="cards">
            <div class="card1">
                <div class="image_ar">
                    <img src="/images/Image 20.png" alt="">
                </div>
                <div class="content">
                    <p class="first-line">Vintage Stamp</p>
                    <p class="second-line">Issued: 1923, Country: USA</p>
                </div>
                <div class="view-details">
                    <div class="btn">view details</div>
                </div>
            </div>
            <div class="card1">
                <div class="image_ar">
                    <img src="/images/Image 21.png" alt="">
                </div>
                <div class="content">
                    <p class="first-line">Amazon Birds</p>
                    <p class="second-line">Issued: 1980, Country: Brazil</p>
                </div>
                <div class="view-details">
                    <div class="btn">view details</div>
                </div>
            </div>
            <div class="card1">
                <div class="image_ar">
                    <img src="/images/Image 22.png" alt="">
                </div>
                <div class="content">
                    <p class="first-line">Lunar Landing</p>
                    <p class="second-line">Issued: 1969, Country: USA</p>
                </div>
                <div class="view-details">
                    <div class="btn">view details</div>
                </div>
            </div>
            <div class="card1">
                <div class="image_ar">
                    <img src="/images/Image 24.png" alt="">
                </div>
                <div class="content">
                    <p class="first-line">Eiffel Tower</p>
                    <p class="second-line">Issued: 1950, Country: France</p>
                </div>
                <div class="view-details">
                    <div class="btn">view details</div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>