* {
    padding: 0;
    margin: 0;
}

.trending {
    margin: 10% 10% 0 10%;
    padding: 10%;
    background-image: url(/images/Image_trend.png);
    background-position: center;
    background-size: contain;
    box-sizing: border-box;
    background-repeat: no-repeat;
    position: relative;
}

/* .checked1{
    color: red;
} */
.checked {
    color: white;
}

.list_head {
    height: 1.9vh;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-left: 2%;
    margin-top: 1.5%;
    box-sizing: border-box;
}

.list_head>ul>li {
    display: inline;
    background-color: black;
    opacity: 0.8;
    color: white;
    border-radius: 15%;
    list-style: none;
    margin: 3%;
    padding: 0.8%;
    cursor: pointer;
    font-size: 2vw;
}

.container-options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.options {
    display: inline-block;
    border-radius: 12%;
    width: 9vw;
    background-color: white;
    color: #645C5B;
    text-align: center;
    margin: 2%;
    font-size: 1.3em;
    cursor: pointer;
    padding: 1%;
}

.options:hover {
    box-shadow: 0 8px 0 #645C5B;
}

.opt2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* margin: 5% 10% 10% 10%; */
}

.card1 {
    padding: 3%;
    box-sizing: border-box;
}

h2 {
    margin-left: 5%;
    margin-top: 5%;
}

.btn {
    width: 60%;
    border-radius: 20%;
    text-align: center;
    border: #645C5B 5px solid;
    height: 1vh;
    padding: 5%;
}

.content,
.view-details {
    margin-top: 10%;
}

.first-line {
    color: #1C1918;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 26px;
    /* 162.5% */
}

.second-line {
    color: #999393;
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 157.143% */
}